.side
{
    padding-top: 70px;
    margin-top: 80px;
    position: fixed;
    width: 200px;
    height: 600px;
    background: rgba(5, 81, 44, 0.8);
    color: hsl(158, 80%, 88%);
}
#side-bar, .side, #side-bar-header
{

    justify-content: center;
    text-align: center;
    align-items: center;
}
#side-bar-header
{
    padding: 50px;
}

.profile-pic
{
    padding: 5px;
    margin-bottom: 70px;
    height: 85px;
    width: auto;
    background-color: rgba(5, 81, 44, 0.5) ;
    clip-path: circle();
    display: inline-block;
}
#information, #setting-btn
{
    margin: 25px;
    display: block;
    position: absolute;
}

h2
{
    font-weight:bolder;
}
h3
{
    font-weight:lighter;  
}
button
{
    margin-top: 300px;
    background: rgba(136, 202, 170, 0.8);
    border: none;
    cursor: pointer;
    display: block;
}
#name
{
    margin-bottom: 25px;
}



@media only screen and (max-width: 980px) {
    .side {
        display: none;
        
    }
}
@media only screen and (min-width: 1020px) {
    .side {
        width: 250px;        
    }
}
@media only screen and (min-width: 1200px) {
    .side {
        width: 300px;        
    }
}

.side-bar img
{
    margin-top: 10px;
}
