<aside class="side">
    <div id ="side-bar" class="side-bar">
        <img mat-card-image class="profile-pic" src="{{userProfileImg}}" alt="">
        <mat-card-header id="side-bar-header">
            <div id="information">
                <mat-card-title id="name">{{userName}}</mat-card-title>
                <mat-card-subtitle id="description">{{userDesc}}</mat-card-subtitle>
            </div>   
            <div id="setting-btn"><button (click)="profileSettings()"
                mat-icon color="basic" id="settings-button"><mat-icon>settings</mat-icon></button>
            </div>
        </mat-card-header>
    </div>
</aside>

<app-profile [show]="editProfile"></app-profile>
