<div id="profile">
    <div id="profile-content">
        <mat-card-header>
            <mat-card-title>Felhasználó név: {{userName}}</mat-card-title>
            <mat-card-subtitle>Leírás: {{userDesc}}</mat-card-subtitle><br>
        </mat-card-header>
        <div id="profile-pic"><img mat-card-image class="profile-pic" src="{{userPic}}" alt=""></div>
    </div>
</div>