#profile-content
{
    width: 350px;
    height: 250px;
    align-items: center;
    text-align: center;
}
#profile-pic
{
    display: grid;
    place-items: center;
    align-items: center;
    margin-left: 75px;
    margin-top: 15px;
    width: 200px;
}

mat-card-header
{
    display: grid;
    place-items: center;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}