#reply-box
{
    width: 100%;
    height: 300px;
    overflow: auto;
    min-width: 400px;
    max-width: 600px;
    padding: 0 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#reply-action-bar
{
    width: 100%;
    display: grid;
    grid-template-columns: 3em 1fr;
    margin-top: 1em;
    direction: rtl; /*right to left*/
}

input
{
    padding: 1em 2em 1em 1em;
    border: 1px solid gray;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    direction: ltr; /*left to right*/
}

.comment-container
{
    display: flex;
}

.comment-name 
{
    font-size: .9em;
}

.comment
{
    border-radius: 1em;
    background-color: gainsboro;
    padding: 1em;
}

.creator-comment-container
{
    justify-content: flex-end;
    text-align: end;
}

.creator-comment
{
    background-color: tomato;
    color: white;
}