#profile
{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    z-index: 9;
    transition: .5s;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

}

.active
{
    width: 100vw;
}

.idle
{
    width: 0;
}

#profile-content
{
    width: 100%;
    max-width: 500px;
    padding: 2em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

input, textarea
{
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: .5em;
    resize: none;
    outline: none;
    border: 1px solid grey;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#post-preview-image
{
    object-fit: cover;
    object-position: center;
    width: 150px;
    height: 150px;
    border-radius: 1em;
    border: 1px dashed gray;
}
