<div id="profile" [ngClass]="{'active': show, 'idle': !show}">
    <div id="profile-content">
        <input #nameInput placeholder="Name" type="text">
        <textarea #descriptionInput placeholder="Description"></textarea>
        
        <div *ngIf="selectedImageFile" id="post-preview">
            <img id="post-preview-image" src="" alt="">
        </div>
        
        <button mat-button color="basic">
            <label for="photo-upload">
                <input #photoSelector (change)="onPhotoSelected(photoSelector)"
                id="PorfilePhoto-upload" type="file" accept="image=*"/>
            </label>
        </button>
        <button (click)="onContinueClick(nameInput, descriptionInput)" mat-flat-button color="basic">Continue</button>
    </div>
</div>