#nav-bar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    z-index: 10;
}

#nav-bar-content
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

#nav-bar-left, #nav-bar-right
{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
    background-color: #013220;
}

#nav-bar-right
{
    justify-content: flex-end;
}

.nav-bar-items
{
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    margin-right: 1em;
}