<div id="nav-bar">
    <div id="nav-bar-content">
        <div id="nav-bar-left" style="background-color:rgba(0, 0, 0, 0.5);">
            <div class="nav-bar-items">ProgRemSocial</div>
        </div>
        <div id="nav-bar-right" style="background-color:rgba(0, 0, 0, 0.5);">
            <div *ngIf="!loggedIn()" (click)="onLoginClick()" class="nav-bar-items">Login</div>
            <div *ngIf="loggedIn() && userHasProfile" class="nav-bar-items">
                Hello, {{getUserName()}}
            </div>
            <div *ngIf="loggedIn()" (click)="onLogoutClick()" class="nav-bar-items">Logout</div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>


<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>