#home-page
{
    width: 100%;
    height: 100%;
}

#home-page-landing
{
    width: 100%;
    height: 100%;
    background-image: url("src/assets/green-leaves.jpg");
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    min-height: 800px;
    display: table;
    position: absolute;
}

#landing-left
{
    color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
}

#landing-left-content
{
    text-align: center;
    padding: 1em 1em 1em 3em;
}

#landing-left-content h1
{
    font-size: 5em;
    padding-left: 100px;
    padding-right: 100px;
}

#landing-left-content p
{
    font-size: 3em;
}

#landing-left-content button
{
    font-size: 2em;
    padding: .5em;
}