<div id="home-page">
    <div  id="home-page-landing">
        <div id="landing-left">
            <div id="landing-left-content" >
                <h1 style="background-color:rgba(0, 0, 0, 0.5);">ProgRem Social</h1>
                <p>
                    Very cool guys! 
                </p>
                <button (click)="onGetStartedClick()"
                    mat-raised-button color="basic">Get Started</button>

            </div>

        </div>

    </div>
</div>
