#post-button
{
    position: fixed;
    bottom: 2em;
    right: 2em;
}

#post-feed
{
    max-width: 500px;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

html
{
    width: 100%;
    height: 100%;
    background-image: url("src/assets/green-texture.jpg");
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    min-height: 800px;
    display: table;
    position: absolute;

 }
 
 #nav-bar-content
 {
     display: grid;
     grid-template-columns: 1fr 1fr;
     height: 100%;
 }

 #nav-bar-left, #nav-bar-right
 {
     display: flex;
     align-items: center;
     height: 100%;
     padding: 0 2em;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     color: white;
 }
 
 #nav-bar-right
 {
     justify-content: flex-end;
 }
 
 .nav-bar-items
 {
     font-size: 1em;
     display: inline-block;
     cursor: pointer;
     margin-right: 1em;
 }

 .side-bar
 {
     float: left;
 }
app-post
{
    margin: 20px;
 }
 