<html>
    <app-side-bar class="side-bar"></app-side-bar>

    <div id="post-feed">
        <app-post *ngFor="let post of posts" [postData]="post"></app-post>
    </div>
    <button (click)="onCreatePostClick()"
    mat-icon color="basic" id="post-button"><mat-icon>add</mat-icon></button>
</html>