.action-item
{
    margin-left: .5em;
    cursor: pointer;
}
.mat-card-header
{
    display: inline;

}
#profil-pic
{
    height: 40px;
    width: auto;
    margin-right: 15px;
    margin-left: 0px;
    float: left;
    clip-path: circle();
}

