<mat-card>
    <mat-card-header>
        <div id="profil-pic-div"><img mat-card-image id="profil-pic" src="{{creatorPic}}" alt="" (click)="onViewProfile()"></div>
        <div id="user-name-div"><p mat-card-title (click)="onViewProfile()">{{creatorName}}</p></div>
    </mat-card-header>
    <img mat-card-image src="{{postData?.imageUrl}}">
    <mat-card-content>
        {{postData?.comment}}
    </mat-card-content>
    <mat-card-actions>
        <mat-icon (click)="onReplyClick()" class="action-item" color="basic">chat_bubble_outline</mat-icon>
        <mat-icon class="action-item" color="basic">favourite_border</mat-icon>
    </mat-card-actions>
</mat-card>