<mat-card>
   <mat-card-header>
       <mat-card-title>Create Post</mat-card-title>
   </mat-card-header> 
   <div>
       <textarea #commentInput placeholder="Type Message..." name="" id="" cols="30" rows="10"></textarea>
   </div>

   <div *ngIf="selectedImageFile" id="post-preview">
       <img id="post-preview-image" src="" alt="">
   </div>

   <mat-card-actions align="end">
       <button mat-button color="basic">
           <label for="photo-upload">
               <input #photoSelector (change)="onPhotoSelected(photoSelector)"
               id="photo-upload" type="file" accept="image=*"/>
               <mat-icon>insert_photo</mat-icon>
           </label>
       </button>
       <button (click)="onPostClick(commentInput)" mat-flat-button color="basic">Post</button>
   </mat-card-actions>
</mat-card>